<p>
<%= @user.first_name %> enjoyed <%= @cup.brew.a_or_an %> <%= @cup.brew.method %> on <%= @cup.sip_time %>.
<br>
The coffee was brewed with <%= link_to(@cup.coffee.name, roaster_coffee_path(@cup.coffee.roaster, @cup.coffee)) %> beans from <%= link_to(@cup.coffee.roaster.name, @cup.coffee.roaster) %>.
<br>
<%= display_cup_rating(@cup) %>
</p>

<% if current_user == @user %>
    <%= button_to('Edit Cup', edit_user_cup_path(@user, @cup), method: 'get') %>
    <%= button_to('Delete Cup', @cup, method: 'delete') %>
<% end %>


