<h1>User Signup</h1>


<%= form_for(@user) do |f| %>
    <p>
        <%= f.text_field :first_name, placeholder: (@user.errors.full_messages_for(:first_name).first || "First name") %>
    </p>

    <p>
        <%= f.text_field :last_name, placeholder: (@user.errors.full_messages_for(:last_name).first || "Last name") %>
    </p>

    <p>
        <%= f.email_field :email, placeholder: (@user.errors.full_messages_for(:email).first || "Email") %>
    </p>

    <p>
        <%= f.password_field :password, placeholder: (@user.errors.full_messages_for(:password).first || "Password") %>
    </p>

    <%= f.submit 'Sign up'%>
<% end %>
