<h1>User Signup</h1>


<%= form_for(@user) do |f| %>
    <p>
    <%= f.text_field :first_name, placeholder: (error_msgs(@user, :first_name) || "First name") %>
    </p>

    <p>
    <%= f.text_field :last_name, placeholder: (error_msgs(@user, :last_name) || "Last name") %>
    </p>

    <%= render 'credentials', {f: f, user: @user} %>

    <p>
    <%= f.password_field :password_confirmation, placeholder: (@user.errors.messages[:password_confirmation].first || 'Confirm password') %>
    </p>

    <%= f.submit 'Sign up'%>
<% end %>

<p>
<%= link_to('Log in', login_path) %>
</p>