<h2>Cups <%= youve_or_other(current_user) %> sipped</h2>

<% if @cups.empty? %>
    <%= who_hasnt(current_user) %> sipped any cups of coffee yet!
    <p><%= new_cup_button if current_user == @user %></p>
<% else %>
    <p><%= new_cup_button if current_user == @user %></p>
    <ul>
    <%= render collection: @cups, partial: 'cup_li', as: :cup %>
    </ul>
<% end %>

<% if @recs && !@recs.empty? %>
    <h2>Coffees we recommend</h2>
    <table>
    <%= render collection: @recs, partial: 'coffees/coffee_tr', as: :coffee %>
    </table>
<% end %>






